# Build output
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IntelliJ workspace and library configs
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/vcs.xml

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
/test-logs/
*.log

# Reports (optional to ignore if you regenerate them each run)
cucumber-reports/
surefire-reports/

# Misc
*.tmp
*.bak
